# Python
__pycache__/
*.pyc
env/
*.egg-info/

# Archivos de entorno
.env

# BD y estado
*.db
*.sqlite
data/state/*.json

# --- Datos Generados y Bases de Datos ---
data/raw_users/
data/processed_users/
data/dlq/
data/state/
database/
sftp_data/

# SSH_KEYS
ssh_keys/